{% extends 'base.html.twig' %}

{% block titlePage %}
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">Les articles</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-12 col-lg-8 main-content">
        <div class="row">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Titre</th>
                    {#<th>Contenu</th>#}
                    <th>Catégorie</th>
                    <th>Date</th>
                    <th>..</th>
                    <th>..</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.name }}</td>
                        <td>{{ post.createDate }}</td>
                        <td>
                            <a href="">
                                {#<button type="button" class="btn btn-warning btn-sm">Modifier</button>#}
                                <span class="fa fa-edit"></span>
                            </a>
                        </td>
                        <td>
                            <a href="delete.php?action=deletepost&id={{ post.id }}&login={{ login }}">
                                {#<button type="button" class="btn btn-danger btn-sm">Supprimer</button>#}
                                <span class="fa fa-trash-o" data-name="supprimer"></span>
                            </a>


                            {#<form action="?action=deletepost&id={{ post.id }}" method="post">#}
                            {#<input type="hidden" name="_method" value="DELETE">#}
                            {#<input class="btn btn-danger btn-sm" type="submit" value="Supprimer">#}
                            {#</form>#}
                            {#<form action="?action=deletepost&id={{ post.id }}" method="DELETE">#}
                            {#<button type="button" class="btn btn-danger btn-sm">Supprimer</button>#}
                            {#<input class="btn btn-danger btn-sm" type="submit" value="Supprimer">#}
                            {#</form>#}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>

{% endblock %}