{% extends 'base.html.twig' %}

{% block titlePage %}
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">Les membres</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-12 col-lg-8 main-content">
        <div class="row">
            <div class="table-responsive-xl">

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Identifiant</th>
                        <th scope="col">Rôle</th>
                        <th scope="col">Date</th>
                        <th scope="col">..</th>
                        <th scope="col">..</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div id="userdeleted"></div>
                    {% for user in users %}
                        <tr id="id_{{ user.id }}">
                            <td scope="row">{{ user.lastname }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.login }}</td>
                            <td>{{ user.roleShow }}</td>
                            <td>{{ user.createDate }}</td>
                            <td>
                                <a href="?action=formuser&id={{ user.id }}">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
            <span data-id="{{ user.id }}" class="fa fa-trash-o deleteUser"
                  data-name="supprimer"></span>

                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}