{% extends 'base.html.twig' %}

{% block titlePage %}
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">Les articles</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-12 col-lg-8 main-content">
        <div class="row">
            <div class="table-responsive-xl">

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        {#<th scope="col">Contenu</th>#}
                        <th scope="col">Catégorie</th>
                        <th scope="col">Date</th>
                        <th scope="col">..</th>
                        <th scope="col">..</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div id="postdeleted"></div>
                    {% for post in posts %}
                        <tr>
                            <td scope="row">{{ post.title }}</td>
                            {#<td>{{ post.title }}</td>#}
                            <td>{{ post.name }}</td>
                            <td>{{ post.createDate }}</td>
                            <td>
                                <a href="?action=formpost&id={{ post.id }}">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
            <span id="deletePost" data-id="{{ post.id }}" class="fa fa-trash-o"
                  data-name="supprimer"></span>

                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}